.modal-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-header h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700; /* font-bold */
  color: #2d3748; /* text-gray-800 */
}

.modal-header button {
  color: #718096; /* text-gray-600 */
}

.modal-header button:hover {
  color: #2d3748; /* hover:text-gray-800 */
}

.modal-body p {
  color: #718096; /* text-gray-600 */
  margin-bottom: 1.5rem; /* mb-6 */
}

.modal-body .key-features,
.modal-body .tech-stack {
  margin-bottom: 1.5rem; /* mb-6 */
}

.modal-body .key-features h3,
.modal-body .tech-stack h3 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  margin-bottom: 0.5rem; /* mb-2 */
  color: #2d3748; /* text-gray-800 */
}

.modal-body .key-features ul {
  list-style-type: disc;
  padding-left: 1.25rem; /* pl-5 */
  margin-top: 0.5rem; /* space-y-2 */
}

.modal-body .key-features ul li {
  color: #4a5568; /* text-gray-700 */
}

.modal-body .tech-stack span {
  background-color: #edf2f7; /* bg-gray-200 */
  color: #2d3748; /* text-gray-800 */
  padding: 0.5rem 0.75rem; /* px-3 py-1 */
  border-radius: 9999px; /* rounded-full */
  font-size: 0.875rem; /* text-sm */
  margin-right: 0.5rem; /* mr-2 */
  margin-bottom: 0.5rem; /* mb-2 */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem; /* mb-6 */
}

.modal-footer a {
  color: #4299e1; /* text-blue-600 */
  font-weight: 500; /* font-medium */
}

.modal-footer a:hover {
  color: #2b6cb0; /* hover:text-blue-800 */
}

.modal-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* gap-4 */
}

.modal-images img {
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
}

@media (max-width: 768px) {
  .modal-images {
    grid-template-columns: 1fr;
  }
  
}
