.modal-content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-header h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700; /* font-bold */
}
